@import url("./main.css");

#container__landing__wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#header__landing__main {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: center;
}

#header__landing__sub {
  font-size: 1.6rem;
  font-style: italic;
  color: rgba(66, 66, 66, 1);
  font-weight: 400;
}

.container__login__buttons {
  margin: 1rem;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50%;
}

.btn {
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
}

.container__login__buttons .btn {
  margin: 0 0.5rem;
  transition: all 0.2s ease-in-out;
}

.container__login__buttons .btn:hover {
  box-shadow: 6px 6px 0px black;
  transform: scale(1.1);
}

@media screen and (max-width: 650px) {
  .container__login__buttons {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
